<div style="width: 500px; margin: 0 auto;">
<h2><img src="/badges/default.png" alt=""/> Credentials accepted!</h2>
<p>
You can use the following credentials to configure this app for
use in your course:
</p>
<dl>
  <dt>Key:</dt><dd><%= @conf.consumer_key %></dd>
  <dt>Secret:</dt><dd><%= @conf.shared_secret %></dd>
</dl>
<p>If you want to add FeedTheLTI to your course you'll need to 
use the key and secret above for authorization.
<a href="/feed_the_lti.xml">Copy this XML link</a> and pick "By URL" as 
the configuration type to quickly set it up in Canvas! If you abuse
the site we'll disable your credentials, so don't go adding
hundreds of feeds to a course, please.
</p>
<p>
  This is a site that I put together in my free time
  to test out the idea of a feeds page inside of Canvas.
  If you copy the credentials above you're agreeing to
  use the site at your own risk. It might work in other LMSs,
  it might work in Canvas, and if it does you should be
  happy. If not, well, you've been warned.
</p>
</div>