<div class="row">
  <div class="span3">
    <ul id="feeds" rel="courses/<%= @course.id %>" data-count="<%= @course.feed_ids.length %>" class="nav nav-pills nav-stacked">
    </ul>
    <% if admin?(@course.id) || @course.allow_student_feeds %>
      <input type="text" id="feed_url" placeholder="new feed URL" value=""/>
      <button class='btn' id="add_feed"><span class='icon icon-plus'></span> Feed</button>
      <button class='btn' id="find_feed"><span class='icon icon-search'></span> Feed</button>
    <% end %>
  </div>
  <div class="span9">
    <h2>Entries for <%= @course.name %></h2>
    <div id="entries" rel="courses/<%= @course.id %>">
    </div>
  </div>
</div>