<div style="width: 500px; margin: 0 auto;">
<h2><img src="/logo.png" alt=""/> FeedTheMe is cool</h2>
<p><b>BETA = VERY YES</b>
FeedTheMe lets users register their own feeds that are then 
aggregated into a single feed within the course.
</p>
<p>If you want to add FeedTheMe to your course you'll need to 
<a href="/login">sign up using your Twitters</a>
to get a key and shared secret to use in your course.
<a href="/feed_the_lti.xml?course_nav=1">Copy this XML link</a> and pick "By URL" as 
the configuration type to quickly set it up!
</p>
<p>
FeedTheMe is <a href="https://github.com/whitmer/feed_the_lti">open source</a>
and free. Run it yourself if you
like. If you don't like it, patches are welcome.
</p>
</div>