<div style="width: 500px; margin: 0 auto;">
<h2><img src="/badges/default.png" alt=""/> FeedTheLTI is cool</h2>
<p>
FeedTheLTI lets users register their own feeds that are then 
aggregated into a single feed within the course.
</p>
<p>If you want to add FeedTheLTI to your course you'll need to 
sign up with us
to get a key and shared secret to use in your course.
<a href="/feed_the_lti.xml">Copy this XML link</a> and pick "By URL" as 
the configuration type to quickly set it up!
</p>
</div>