body {
  padding-top: 20px;
}
.desc {
  white-space: pre-line;
}
.feed .count{
  display: block;
  font-size: 10px;
  padding-left: 15px;
}
.feed.header a {
  font-weight: bold;
  font-size: 16px;
}
#feed_summary {
  margin-bottom: 5px;
  padding-left: 15px;
  margin-top: -5px;
  color: #888;
}
#feed_summary .posts {
  padding-right: 10px;
}
#feed_summary .links {
  padding-left: 20px;
}
#feed_summary .delete {
  display: none;
}
#feed_summary #add_to_feeds_holder {
  display: none;
}
#feed_summary.addable #add_to_feeds_holder {
  display: block;
}
#add_feed_form {
  margin-top: -15px;
}
#delete_feed {
  display: none;
}
#feed_summary.deletable #delete_feed {
  display: inline;
}
.entry {
  margin-bottom: 15px;
  max-height: 100px;
  overflow: hidden;
}
.entry .author {
  float: left;
  color: #888;
}
.entry .feed_name {
  float: left;
  padding-left: 10px;
  color: #888;
}
.entry .created {
  float: left;
  color: #888;
  padding-left: 15px;
}
.entry .clear {
  clear: both;
}
.entry .content {
  padding-left: 15px;
}
.selectable .entry {
  padding: 2px 5px;
  margin-bottom: 5px;
}
.selectable .entry:hover {
  background: #eee;
  cursor: pointer;
  border-radius: 5px;
}
.selectable .entry a.entry_link:hover {
  text-decoration: none;
  color: #0088CC;
}
