body {
  padding-top: 20px;
}
.desc {
  white-space: pre-line;
}
#feeds .feed .count{
  display: block;
  font-size: 10px;
  padding-left: 15px;
}
#feed_summary {
  margin-bottom: 5px;
  padding-left: 15px;
  margin-top: -5px;
}
#feed_summary .last_checked {
  padding-left: 10px;
}
#feed_summary .links {
  padding-left: 20px;
}
#feed_summary .delete {
  display: none;
}
.row.deletable #feed_summary .delete {
  display: inline;
}
.entry {
  margin-bottom: 15px;
  max-height: 100px;
  overflow: hidden;
}
.entry .author {
  float: left;
  color: #888;
}
.entry .created {
  float: left;
  color: #888;
  padding-left: 15px;
}
.entry .clear {
  clear: both;
}
.entry .content {
  padding-left: 15px;
}